<div class="survey-content">
  <ngx-loading [show]="loading" [config]="{ fullScreenBackdrop: true }"></ngx-loading>
  <mat-card class="mat-elevation-z8">
    <mat-card-content [style.overflow]="'auto'" [style.height.px]="'500'">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <h2>Please Fill Out the Survey</h2>
          <mat-input-container class="full-width-input">
          <h3>How much do you care about good air quality?</h3>
          <mat-form-field>
            <mat-select formControlName="question1" required>
              <mat-option value="1">1</mat-option>
              <mat-option value="2">2</mat-option>
              <mat-option value="3">3</mat-option>
              <mat-option value="4">4</mat-option>
              <mat-option value="5">5</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-input-container>
        <mat-input-container class="full-width-input">
          <h3>How much do you care about low crime rates?</h3>          
          <mat-form-field>
            <mat-select formControlName="question2" required>
              <mat-option value="1">1</mat-option>
              <mat-option value="2">2</mat-option>
              <mat-option value="3">3</mat-option>
              <mat-option value="4">4</mat-option>
              <mat-option value="5">5</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-input-container>
        <mat-input-container class="full-width-input">
          <h3>How much do you care about having arts in your area?</h3>
          <mat-form-field>  
            <mat-select formControlName="question3" required>
              <mat-option value="1">1</mat-option>
              <mat-option value="2">2</mat-option>
              <mat-option value="3">3</mat-option>
              <mat-option value="4">4</mat-option>
              <mat-option value="5">5</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-input-container>
        <mat-input-container class="full-width-input">
          <h3>How much do you care about low cost of living?</h3>
          <mat-form-field>
            <mat-select formControlName="question4" required>
              <mat-option value="1">1</mat-option>
              <mat-option value="2">2</mat-option>
              <mat-option value="3">3</mat-option>
              <mat-option value="4">4</mat-option>
              <mat-option value="5">5</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-input-container>
        <mat-input-container class="full-width-input">
          <h3>How much do you care about the unemployment rate?</h3>
          <mat-form-field>  
            <mat-select formControlName="question5" required>
              <mat-option value="1">1</mat-option>
              <mat-option value="2">2</mat-option>
              <mat-option value="3">3</mat-option>
              <mat-option value="4">4</mat-option>
              <mat-option value="5">5</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-input-container>            
        <button mat-raised-button color="primary" type="submit">Submit</button>
        <button mat-raised-button color="secondary" [routerLink]="['/']" *ngIf="isLoggedIn">Cancel</button>    
      </form>
    </mat-card-content>
  </mat-card>
</div>