<div class="account-content">
  <ngx-loading [show]="loading" [config]="{ fullScreenBackdrop: true }"></ngx-loading>
  <mat-card class="mat-elevation-z8">
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <h2>Account Information</h2>

        <mat-form-field class="full-width-input">
          <input matInput type="text" formControlName="first" placeholder="First Name" [(ngModel)]="currentUser.first" />
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput type="text" formControlName="last" placeholder="Last Name" [(ngModel)]="currentUser.last" />
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput type="text" formControlName="userName" placeholder="Username" [(ngModel)]="currentUser.userName" />
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput type="password" formControlName="password" placeholder="Password" [(ngModel)]="currentUser.password" />
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <textarea matInput type="text" matAutosizeMaxRows="6" formControlName="about_me" placeholder="About Me" [(ngModel)]="currentUser.about_me"
            matTextareaAutosize></textarea>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <mat-select placeholder="Avatar" formControlName="avatar" [(ngModel)]="currentUser.avatar">
            <mat-option *ngFor="let avatar of avatars" [value]="avatar">
              <img src='assets\images\{{ avatar }}.png' style="height: 25px; width: 25px;"> {{ avatar }}
            </mat-option>
          </mat-select>
        </mat-form-field>


        <button mat-raised-button color="primary" type="submit">Update</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>