<mat-toolbar color="primary" *ngIf="isLoggedIn$ | async as isLoggedIn" class="mat-elevation-z5">
  <span>
    <!--<img src="assets/img/angular_whiteTransparent.svg" class="angular-logo">-->
    <button mat-button routerLink="/">
      <h2><img src="assets/images/worldwide-location.png" class="angular-logo"> GRoUP<sup>2</sup></h2>
    </button>
  </span>
  <span class="fill-remaining-space"></span>
  <button mat-button routerLink="survey">Retake the Survey</button>
  <!--<button mat-button routerLink="social">Explore</button>-->
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <img src='assets\images\{{ avatar }}.png' style="height: 35px; width: 35px;">
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="admin" *ngIf="isAdmin">
      <mat-icon>account_circle</mat-icon>
      <span>Admin</span>
    </button>
    <!--<button mat-menu-item *ngIf="isAdmin$ | async as isAdmin">
        <mat-icon>account_circle</mat-icon>
        <span>Admin</span>
      </button>-->
    <button mat-menu-item routerLink="account">
      <mat-icon>account_circle</mat-icon>
      <span>Account</span>
    </button>
    <button mat-menu-item (click)="onLogout()" *ngIf="isLoggedIn">
      <mat-icon>power_settings_new</mat-icon>
      <span>Log Out</span>
    </button>
  </mat-menu>
</mat-toolbar>